<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página no encontrada :(</title>
    <link rel="stylesheet" href="/static/general.css">
    <link rel="stylesheet" href="/static/notFound.css">
</head>
<body>
    <span class="bigErr">404</span>
    <span class="errName">Página no encontrada</span>
    <h1>No siempre sabemos todo...</h1>
    <p>Prueba verificando tu URL o si se trata de un error, no dudes en abrir un pull request.</p>
    <a href="/">Volver al Inicio</a>
    <a href="/api">Conoce nuestra la API</a>
</body>
</html>